work/
*.mti
*.mpf
*.ini
*.wlf
*.zip
.idea/
*.exe
transcript
*vscode*
gellesh_instructions.txt
instructionMemory.mem
dataMemory.mem
Assembler/__pycache__/
Assembler/
instructionMemory.mem
Assembler/dataMemory.mem
Execution Stage\Test.vhd
